# Node
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist/

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp

# IDEs
.vscode/ 
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
